p {
    font-family: sans-serif;
}


.formField {
    width: 180px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

button {
    background-color: #9DD8D4;
    color: white;
    border: 0px;
}

form {
    text-align: center;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}